In [23]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
#from sklearn.preprocessing import MinMax
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

# Загрузка данных

In [24]:
%%capture
!wget https://www.dropbox.com/s/64ol9q9ssggz6f1/data_ford_price.xlsx

In [25]:
data = pd.read_excel('data_ford_price.xlsx')

## Предобработка данных

In [26]:
data = data[['price', 'year', 'weather']]
data.dropna(inplace = True)

## Масштабирование

In [27]:
data_scaled = data.copy()
col_names = ['price', 'weather']
x = data_scaled[col_names]

In [28]:
scaler = RobustScaler()
 
data_scaled[col_names] = scaler.fit_transform(x.values)
data_scaled

         price  year   weather
0     1.982455  2016  0.571429
1     0.189460  2009  0.071429
2    -0.630672  2002 -0.428571
3    -0.706090  2000 -0.142857
5    -0.346671  2003 -0.071429
...        ...   ...       ...
7012  0.631871  2015  0.571429
7013 -0.411044  2005 -0.071429
7014 -0.157084  2006  0.571429
7015 -0.100221  2011 -0.285714
7016  0.347870  2010 -0.071429

[6837 rows x 3 columns]

In [32]:
# Задание 5,2
data_scaled['price'][1]

0.1894603976017671

In [29]:
y = data_scaled['price']
x = data_scaled.drop(columns='price')

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=40)

In [30]:
model = LinearRegression()
model.fit(X_train, y_train)
y_predicted = model.predict(X_test)
 
mae = mean_absolute_error(y_test, y_predicted)
print('MAE: %.3f' % mae)

MAE: 0.333