In [2]:
import pandas as pd

In [8]:
data = pd.DataFrame({
    'country':['Финляндия','Дания','Швейцария','Исландия','Нидерланды','Норвегия','Швеция','Люксембург','Новая Зеландия','Австрия'],
    'index':[7.84,7.62,7.57,7.55,7.46,7.39,7.36,7.32,7.28,7.27]    
})

In [9]:
data

          country  index
0       Финляндия   7.84
1           Дания   7.62
2       Швейцария   7.57
3        Исландия   7.55
4      Нидерланды   7.46
5        Норвегия   7.39
6          Швеция   7.36
7      Люксембург   7.32
8  Новая Зеландия   7.28
9         Австрия   7.27

In [4]:
data.describe()

           index
count  10.000000
mean    7.466000
std     0.180382
min     7.270000
25%     7.330000
50%     7.425000
75%     7.565000
max     7.840000

In [1]:
petersburg = [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]
magadan = [0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764, 0.0689]

In [12]:
data = pd.DataFrame({
    'petersburg':[0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105, 0],
    'magadan':[0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764, 0.0689]
})

In [13]:
data

   petersburg  magadan
0      0.0974   0.1033
1      0.1352   0.0915
2      0.0817   0.0781
3      0.1016   0.0685
4      0.0968   0.0677
5      0.1064   0.0697
6      0.1050   0.0764
7      0.0000   0.0689

Используя информацию по мидиям Петербурга и Магадана, которые представлены в виде двух массивов petersburg и magadan в разделе ANOVA тест, проверьте данные на нормальность и на наличие корреляции. Для этого объедините 2 массива в DataFrame. Обоснуйте выбор теста на корреляцию. Сделайте вывод по гипотезе.
 
 
Также ответьте на вопрос:
Какова разница в среднем размере мидии в зависимости от города-производителя. Обоснуйте выбор теста. Сделайте вывод по гипотезе.