In [1]:
import pandas as pd

In [43]:
ufo_data = pd.read_csv('C:\\Python\\ufo.csv', sep=',')

In [44]:
ufo_data.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [48]:
ufo_df = ufo_data.copy()
ufo_df.tail()

              City Colors Reported Shape Reported State              Time
18236   Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18237  Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18238  Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239  Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240         Ybor             NaN           OVAL    FL  12/31/2000 23:59

In [50]:
ufo_df['Time'] = pd.to_datetime(ufo_df['Time'])

In [66]:
ufo_df['Date'] = ufo_df['Time'].dt.date

In [67]:
ufo_df[ufo_df['State']=='NV']['Date'].diff().dt.days.mean()

68.92932862190813